[Desktop Entry]
Type=Application
Name=Middle click to scroll
Exec="/home/hakej/.config/autostart/middle_click_to_scroll.sh"
X-GNOME-Autostart-Phase=Initialization
Terminal=false
NoDisplay=true
